@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@300;400;500&display=swap');
h1{
    font-family: poppins;
    font-size: 45px;
    text-transform: uppercase;
}
h3{
    font-family: poppins;
    font-weight:400;
}